<h3>Booking History</h3>
<table border="1">
	<thead>
		<tr>
			<th>Room</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Price</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<%@bookings.each do |booking|%>
			<tr>
				<th><%=booking.room.name%></th>
				<th><%=booking.start_date%></th>
				<th><%=booking.end_date%></th>
				<th><%=booking.price%></th>
				<th><%if booking.is_confirmed? %>
						confirmed
					<%else%>
						Waiting(<%=link_to "cancel",booking_path(booking.id), method: :delete, data:{confirm:"Are you sure?"}%>)
					<%end%>
				</th>
			</tr>
			<%end%>
	</tbody>
</table>